<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  </head>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/vue-resource.js"></script>
   <script src="/javascripts/jquery.min.js"></script>
  <body>
  